@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #bba694;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #ffffd5;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background: #9b7239;
    padding: 0 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
}

header .navbar {
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
    margin-left: 30px;
}

header .navbar li a {
    text-decoration: none;
    color: #7a551c;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navbar li a:hover {
    color: #ffffd5;
}

/* Contenido */
.contenido {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .tituloBox {
    position: relative;
    max-width: 600px;
}

.contenido .tituloBox h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #7a551c;
    line-height: 1.2;
}

.contenido .tituloBox h2 span,
.contenido .tituloBox p span {
    background: #9b7239;
    color: #ffffd5;
    padding: 0 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.contenido .tituloBox p {
    font-size: 1.8em;
    line-height: 1.5;
    color: #7a551c;
    font-family: 'Lora', serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.contenido .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.contenido .tituloBox a:hover {
    color: #7a551c;
    background: #ffffd5;
}

.contenido .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
}

.contenido .imgBox img {
    width: 480px;   
}

.contenido-acerca-de .tituloBox h2 {
    padding: 30px 0;
    font-size: 2em;
}

.contenido-acerca-de .tituloBox p {
    font-size: 1.8em;
}

.contenido-acerca-de .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
}

.contenido-acerca-de .imgBox img {
    width: 480px;
    border-bottom-left-radius: 100px;
}

/* Circulo */

.circulo {
    position: absolute;
    top: 0;
    left: 0;
    background: #9b7239;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;

}

.circulo-back {
    position: absolute;
    top: 0;
    left: 0;
    background: #9b7239;
    clip-path: circle(650px at left 1050px);
    width: 100%;
    height: 100%;

}

/* Copyright */
.copyright {
    position: absolute;
    bottom: 0;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #ffffd5;
}

/* Redes sociales */
.redesSociales {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redesSociales li {
    padding: 10px;   
}

.redesSociales li a {
    color: #ffffd5;
    font-size: 1.5em;
    transition: 0.3s;
}

.redesSociales li a:hover {
    color: #7a551c;
}

/* Nuestros productos */
.tienda {
    display: inline;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 50px;
}

.titulo {
    color: #7a551c;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.tienda .cards {
    position: relative;
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    gap: 30px;
}

.tienda .cards .card {
    position: relative;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s;
}

.tienda .cards .card:hover {
    box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.61);
}

.tienda .cards .card .card-img {
    position: relative;
    width: 250px;
    height: 300px;
}

.tienda .cards .card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.discount {
    background: #f28705;
}

.unavailable {
    background: #d9042b;
}

.tienda .cards .card .card-content {
    position: relative;
    width: 250px;
    height: 80px;
    padding: 10px;
}

.tienda .cards .card .card-content h3 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.tienda .cards .card .card-content .precio {
    position: relative;
    display: flex;
    gap: 30px;
}

.tienda .cards .card .card-content .precio p {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}

.tienda .cards .card .card-content .precio .precio-discount {
    text-decoration: line-through;
}

.tienda .cards .card .card-content .precio .precio-real {
    font-weight: 500;
}

/* Seccion Contacto */
.contacto {
    padding: 100px 0px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.contacto .contenido h2 {
    font-family: 'Lora', serif;
    font-size: 1.8em;
    font-weight: 600;
    color: #9b7239;
}

.contacto .contenido p {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #9b7239;
}

.contacto .formulario {
    position: relative;
    width: 450px;
    border: 5px solid #9b7239;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
}

.contacto .formulario form .inputBox input[type="text"],
.contacto .formulario form .inputBox input[type="email"],
.contacto .formulario form .inputBox textarea {
    border: 5px solid #9b7239;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    background: #bba694;
    font-size: 1em;
    resize: none;
}

.contacto .formulario form input[type="submit"] {
    border: none;
    cursor: pointer;
}

.contacto .formulario form input::placeholder,
.contacto .formulario form textarea::placeholder {
    color: #9b7239;
}

.contacto .formulario form .inputBox input[type="text"]:focus,
.contacto .formulario form .inputBox input[type="email"]:focus,
.contacto .formulario form .inputBox textarea:focus {
    outline: none;
}

.contacto .contenido {
    display: inline;
    max-width: 500px;
    text-align: left;
    line-height: 2;
}

.circulo-contacto {
    position: absolute;
    top: 0;
    left: 0;
    background: #9b7239;
    clip-path: circle(100px at left 250px);
    width: 100%;
    height: 100%;
}

.boton {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.boton:hover {
    color: #7a551c;
    background: #ffffd5;
}

/* Recetas */
.wrapper {
    display: inline;
}

.recetas {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
}

.recetas:hover {
    box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.61);
}

.recetas .tituloBox {
    position: relative;
    width: 80%;
    line-height: 1.5;
}

.recetas .tituloBox h2 {
    font-size: 3em;
    text-transform: uppercase;
    color: #7a551c;
    line-height: 1.2;
}

.recetas .tituloBox h2 span,
.recetas .tituloBox p span {
    background: #9b7239;
    color: #ffffd5;
    padding: 0 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.recetas .tituloBox p {
    font-size: 1.8em;
    color: #7a551c;
    font-family: 'Lora', serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.recetas .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.recetas .tituloBox a:hover {
    color: #7a551c;
    background: #ffffd5;
}

.recetas .imgBox {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.recetas .imgBox img {
    width: 150px;   
}

.recetas .tituloBox .wrapper-iconos {
    display: flex;
}

.recetas .tituloBox .wrapper-iconos .tiempo,
.recetas .tituloBox .wrapper-iconos .porciones,
.recetas .tituloBox .wrapper-iconos .dificultad {
    color: #7a551c;
    position: relative;
    width: 80%;
}


/* Breakpoints */

/* -- Pantallas Largas -- */
@media only screen and (max-width: 1200px) {
    .contenido .tituloBox h2 {
        font-size: 3.5em;
    }

    .copyright {
        left: 500px;
    }

    .contacto {
        padding-bottom: 0px;
    }
}

/* -- Laptops -- */
@media only screen and (max-width: 992px) {
    section {
        padding: 80px;
    }

    header {
        padding: 40px 80px;
    }

    .contenido .tituloBox h2 {
        font-size: 3em;
    }

    .contenido .tituloBox a {
        margin-left: 0px;
    }

    .contenido .imgBox {
        width: 400px;
    }

    .contenido .imgBox img {
        width: 400px;
    }

    .circulo {
        clip-path: circle(550px at right 750px);
    }

    .copyright {
        left: 400px;
    }
}

/* -- Tablets -- */
@media only screen and (max-width: 768px) {
    section {
        padding: 40px;
    }

    header {
        padding: 30px 40px;
    }

    header .navbar {
        display: none;
    }

    header .navbar.active {
        width: 100%;
        height: calc(100% - 40px);
        position: fixed;
        top: 80px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #bba694;
        z-index: 1;
    }

    header .navbar li a {
        font-size: 1.2em;
        line-height: 2;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url('menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        filter: invert(1);
    }

    .menuToggle.active {
        background: url('close.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contenido {
        flex-direction: column;
        gap: 70px;
    }

    .contenido .tituloBox {
        text-align: center;
    }

    .contenido .tituloBox h2 {
        font-size: 2em;
    }

    .contenido .tituloBox p {
        font-size: 1.5em;
    }

    .contenido .imgBox {
        width: 100%;
    }

    .contenido .imgBox img {
        width: 100%;
        margin-top: 0;
    }

    .circulo {
        clip-path: circle(400px at center bottom);
    }

    .copyright {
        left: 0px;
    }
    .redesSociales {
        left: 0px;
    }

    .contenido-acerca-de {
        margin-top: 100px;
        flex-direction: column-reverse;
        gap: 70px;
    }

    .contenido-acerca-de .imgBox {
        padding-right: 0px;
    }

    .circulo-acerca-de {
        clip-path: circle(400px at center top);
    }

    .contenido-acerca-de .imgBox img {
        border-bottom-right-radius: 100px;
    }

    .tienda .titulo {
        padding: 30px 0px;
    }

    /* Seccion Contacto */
    .contacto {
        flex-direction: column-reverse;
    }

    .contacto .contenido {
        text-align: center;
    }

    .contacto .formulario {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
    }
    
    .contacto .formulario form .inputBox input[type="text"],
    .contacto .formulario form .inputBox input[type="email"],
    .contacto .formulario form .inputBox textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        resize: none;
    }

    .circulo-contacto {
        position: absolute;
        top: 0;
        left: 0;
        background: #9b7239;
        clip-path: circle(100px at right 0px);
        width: 100%;
        height: 100%;
    }

    .recetas {
        flex-direction: column;
        margin-top: 30px;
        position: relative;
        width: 250px;
        height: 250px;
    }

    .wrapper {
        margin-top: 90px;
    }

    .wrapper .recetas .tituloBox h2 {
        font-size: 1.2em;
        line-height: 2;
        text-align: center;
    }

    .wrapper .recetas .tituloBox .wrapper-iconos {
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        line-height: 2;
    }

    .recetas .imgBox img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(20%);
    }
}

/* -- Celulares -- */
@media only screen and (max-width: 400px) {
    section {
        padding: 30px;
    }

    header .logo {
        font-size: 1.5em;
    }

    .contenido {
        padding-left: 0px;
    }

    .contenido-acerca-de .imgBox {
        margin-top: 60px;
    }

    .contenido-acerca-de .imgbox {
        margin-top: 0px;
    }

    .copyright {
        bottom: 20px;
    }

    .tienda {
        margin-top: 25px;
    }

    .contacto {
        width: 100%;
    }

    .contacto .formulario {
        width: 100%;
        max-width: 400px;
    }

    .contacto .contenido {
        width: 100%;
        max-width: 400px;
    }

    .contacto .contenido .parrafo{
        text-align: justify;
        width: 100%;
    }

    .circulo-contacto {
        position: absolute;
        top: 0;
        left: 0;
        background: #9b7239;
        clip-path: circle(100px at right 0px);
        width: 100%;
        height: 100%;
    }

    .circulo-back {
        position: absolute;
        top: 0;
        left: 0;
        background: #9b7239;
        clip-path: circle(90px at left 900px);
        width: 100%;
        height: 100%;
    }
}